#map {
    height: 400px;
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    border-width: 5px;
    border-style: outset;
    border-color: hsla(291, 46%, 59%, 0.658);
}