body{
    background: #FFFFFF;
    font-family: 'Noto Sans', sans-serif;
    margin: 0 0 1rem 0;
}
  
img{
    max-width: 100%;
}

.titulo{
    margin-top: 1rem;
}
@media (min-width: 768px){
    .titulo {
        margin-left: 1rem;
    }
}

.seccion1{
    display: flex;
    flex-direction: column;
    margin: 50px 25px 0px 25px;
}
@media (min-width: 768px){
    .seccion1{
        flex-direction: row;
        margin-bottom: 5rem;
    }
}

.seccion1-subsecccion1_texto1::after{
    content: '\002E';
    color: #8828ad;
}
.seccion1-subsecccion1_texto1{
    display: block;
    font-size: 3.5em;
    font-weight: bold;
    color: #000000;
    margin: 0 0 10px 0;
    text-transform: capitalize;
}
.seccion1-subseccion_texto2{
    font-size: 1.2em;
    color: #C6C0C0;
    margin: 0 0 10px 0;
}
.registro{
    display: flex;
    justify-content: center;
}
.campo{
    width: 70%;
    margin: 0 10px 0 0;
    border-color: hsla(291, 46%, 59%, 0.658);
    border-width: 1px;
    font-weight: bold;
    font-style: italic;
    padding: 2px 2px;
    text-indent: 10px;
    color: #9A24C1;
}
.boton{
    width: 25%;
    background-color: hsla(291, 46%, 59%, 0.658);
    color:#FFFFFF;
    font-weight: bold;
    border-color: hsla(291, 37%, 59%, 0.664);
    border-radius: 7%;
}
.boton:hover{
    cursor:pointer;
}

.testimonio{
    display: flex;
    margin-top: 10px;
    font-weight: bold;
}
.perfil{
    width: 10%;
    height: 20%;
}
.seccion1-subseccion2-imagen1{
    width:100%;
    max-width:1200px;
}
.seccion2{
    display: flex;
    flex-direction: column-reverse;
    margin: 50px 25px 0px 25px;
}
@media (min-width: 768px){
    .seccion2{
        flex-direction: row;
    }
}
.seccion2-subseccion1{
    margin: 0%;
}
@media (min-width: 768px){
    .seccion2-subseccion1{
        margin-right: 5%;
    }
}
.seccion2-imagen1{
    width:100%;
    max-width:1200px;
}
.seccion2-subccion2{
    margin: 0;
    flex-direction: column;
    justify-content: center;
}
.seccion2-texto1::after{
    content: '\002E';
    color: hsla(291, 46%, 59%, 0.658);
}
.seccion2-texto1{
    font-size: 4em;
    font-family: 'Noto Sans', sans-serif;
}
.seccion2-texto2{
    font-size: 1em;
    color: #C6C0C0;    
}

.seccion3{
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: hsla(291, 46%, 59%, 0.658);
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 5rem;
    background-size: cover;
    
}
.seccion3-texto1{
    font-size: 3rem;
    margin: 0%;
}
.seccion3-texto2{
    font-size: 2rem;
    margin-bottom: 3rem;
}

@media (min-width: 768px){
    .centrar{
        margin: auto;
        max-width: 50%;
    }
}

/* CARRUSEL */
.slider{
    width: 100%;
    height: 250px;
    border-radius: 15px;
    overflow: hidden;
    margin: 0 auto;
    
}

.slides{
    width: 500%;
    height: 250px;
    display: flex;
}

.slides input {
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: 250px;
}

.nav-manual{
    position: absolute;
    width: 100%;
    max-width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manula-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first {
    margin-left: 0%;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
#radio4:checked ~ .first {
    margin-left: -60%;
}

.nav-auto{
    position: absolute;
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    margin-top: 210px;
}

.nav-auto div {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .nav-auto .auto-btn1 {
    background-color: white;
}
#radio2:checked ~ .nav-auto .auto-btn2 {
    background-color: white;
}
#radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: white;
}
#radio4:checked ~ .nav-auto .auto-btn4 {
    background-color: white;
}

@media (min-width: 768px) {
    .slider {
      width: 90%;
      max-width: 100%;
      height: auto;
    }
  
    .slides {
      width: 500%;
      height: 500px;
      display: flex;
    }
  
    .slide {
      width: 20%;
    }
  
    .slide img {
      width: 100%;
      height: 500px;
    }
  
    .nav-manual {
      width: 90%;
      max-width: 100%;
      margin-top: -40px;
    }
  
    .manual-btn {
      display: inline-block;
      margin-right: 40px;
      margin-bottom: 0;
    }
  
    .nav-auto {
      width: 90%;
      max-width: 100%;
      margin-top: 460px;
    }
  
    .nav-auto div {
      display: inline-block;
      margin-right: 40px
    }
}